@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 84% 60%; /* Red */
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 0 84% 60%; /* Red */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 63% 94%; /* Destructive is now a lighter color as primary is red */
    --destructive-foreground: 0 84% 60%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 84% 60%; /* Red */
    
    --chart-1: 0 84% 60%;
    --chart-2: 48 96% 51%;
    --chart-3: 204 10% 40%;
    --chart-4: 0 0% 80%;
    --chart-5: 60 95% 65%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
