@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 8%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 72% 51%;
    --primary-foreground: 0 86% 97%;

    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --accent: 45 93% 47%;
    --accent-foreground: 45 100% 5%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 86% 97%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 72% 51%;
    
    --chart-1: 0 72% 51%;
    --chart-2: 45 93% 47%;
    --chart-3: 204 10% 40%;
    --chart-4: 0 0% 80%;
    --chart-5: 45 93% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
